@font-face {
    font-family: gruberrFont;
    src: url(../fonts/Montserrat-Light.otf);

}


@font-face {
    font-family: bostonTraffic;
    src: url(../fonts/boston_traffic.ttf);
}

@font-face {
    font-family: chunkFive;
    src: url(../fonts/Chunkfive.otf);
}

@font-face {
    font-family: ADAMCG;
    src: url(../fonts/ADAMCGPRO.otf);
}

body {
    font-family: gruberrFont, Times, serif;
}

#utility-2 {
    background: #FFF;
    padding: 0px 0px 60px 0px;
}

#utility {
    background: #FFF;
    padding: 0px;
}

#feature {
    background: #FFF;
    padding:60px 0;
}


.coverImage {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
    background-color: rgba(0,0,0,.6);
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.cover {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
    position: absolute;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}


header {
    background: none;
    position: absolute;
    -webkit-box-shadow: none;
}

.menu .navbar-default .navbar-nav > li > a {
    color: white;
    font-weight: bold;
    font-size: 18px;
}

.menu .navbar {
    float: right;
    padding-top: 15px;
}

#name {
    padding: 5px;
    color: white;
    font-weight: bold;
    font-family: gruberrFont, Times, se;
}

#navGradient {
   background: -webkit-linear-gradient(bottom, rgba(0,0,0,0), rgba(0,0,0,1));
}

#service .service-wrapper {
    border: none;
    padding: 50px 0px;
}

.icon {
    text-align: center;
    margin-top: 60px;
}

.cusinesCategoryHeading {
    font-family: gruberrFont, Times, serif;
    text-align: center;
    font-weight: 900;
    color: black;
    padding-top: 200px;
}

.cusinesCategoryPara {
    font-family: gruberrFont, Times, serif;
    text-align: center;
    padding-bottom: 30px;
    color: #999;
    font-size: 15px;
}

.cuisinesFont {
    font-family: gruberrFont, Times, serif;
    font-size: 17px;
    color: #999;

}

#utility-2 .block img {
    display: inline-block;
    vertical-align: middle;
}

#utility .block img {
    display: inline-block;
    vertical-align: middle;
}

#utility-2 .block {
    text-align: center;
}

#utility .block {
    text-align: center;
}

#utility-2 .block p {
    color: #777;
}

h2.heading {
    margin-bottom: 20px;
    font-size: 27px;
    font-weight: 900;
    color: black;
    font-family: gruberrFont, Times, serif;
}

#utility-2 .block h2  {
    color: black;
}

#utility .block h2 {
    color: black;
}

#feature .feature-item {
    margin-top: 0px;
}

.alignDivMiddle {
    display: inline-block;
    vertical-align: middle; 
    align-self: center;
}

.alignDivMiddleParent:before {
    content: ' ';
    display: inline-block;
    vertical-align: middle;
}

.alignDivMiddleParent {
    text-align: center; 
    justify-content: center;
}

@media only screen and (min-width: 767px) {
    .alignDivMiddleParent  {
        display: flex;
        text-align: center; 
        justify-content: center;
    }
}

#subscribe {
    padding: 0px;
    padding-bottom: 60px;
}

.getApp {
   position:absolute;
   /*right:70%;*/
    text-align: center;
    color: white;
    top:40%;
}

.wrapper {
    position: absolute;
    background-color:transparent;
    text-align: center;
    margin-bottom: 40px;
    margin-top: 30px;

}

.playStoreButton {
    position: absolute;
    top: 80%;
    right: 5%;

}

.playStoreButtonMobile {
    position: absolute;
    margin-top: 30px;
    top: 70%;
    right: 5%;
    display: none;
}

.getAppButton {
    background: #3e50b5;
    color: white;
    padding-left: 18px;
    padding-right: 18px;
}

.getAppText {
    background: #FFF;
    color: #777;
    border: 0;
}

.getAppHeading {
    margin-bottom: 20px;
    color: #777;
    text-align: left;
    margin-left: 5px;
    font-size: 18px;
}

.black {
    background-color: rgba(0,0,0,.1);
}

.gruberr_chef_statistics {
    background: #ffffff;
    padding-top: 75px;
    padding-bottom: 75px;
    color: black;
    font-family: gruberrFont;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    box-shadow: 1px 1px 3px #AAA;
}

.countText {
    color: black;
    font-family: gruberrFont;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}

/*******************************Review***************************/

.reviewImageRestaurentChefSize {
    max-width: 100%;
    padding-top: 20px;
}

.reviewImageChefSize {
    width: auto;
    height: auto;
    padding-top: 50px;
}

.reviewsPara {
    font-style: italic;
    line-height: 2em;
}

.reviewImagePeopleSize {
    max-width: 100%;
    padding-top: 20px;
}

.reviewTextAlign {
    text-align: center;
    margin-top: 175px;
}

.reviewTextAlignChef {
    text-align: center;
    margin-top: 125px;
}

.reviewTextAlignPeople {
    text-align: center;
    margin-top: 150px;
}

.reviewSection {
    padding-top: 40px;
    margin-bottom: 50px;
}

.reviewHeading {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    font-family: chunkFive;
    font-weight: bold;
}

.appHeading {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;
    font-family: chunkFive;
}

.teamHeading {
    text-align: center;
    margin-top: 1px;
    margin-bottom: 35px;
    font-family: chunkFive;
}

.reviewGrp2{
    text-align: center;
}

/*******************************Review***************************/

/******************************Count******************************/

.count {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #f7f7f7;
}

.countParent {
    margin-top: 50px;
    margin-bottom: 50px;
    -moz-box-shadow:    inset 0 0 10px #000000;
    -webkit-box-shadow: inset 0 0 10px #000000;
    box-shadow:         inset 0 0 10px #000000;
}

/******************************Count******************************/

/*****************************Slider******************************/

h1 {
    display: inline-block;
    padding: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.full-screen {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.chevron {
    color: white;
}

.backgroundOpaque {
    background-color: black;
    width: 100%;
    height: 100%;
    opacity: 0.6;
}

.carousel-caption {
    bottom: 5%;
}

.backgroundHeading {
    font-family: ADAMCG;
    font-size: 60px;
}


.backgroundSubheading {
    font-family: gruberrFont;
}

.socialButtons {
    padding: 15px;
    padding-top: 20%;
    cursor: pointer;
    color: #eee;
}

.socialButtons:hover {
    color:white;
}

.aboutUsContainer {
    margin-top: 20px;
}

.aboutUsHeading {
    font-weight: bold;
    font-family: gruberrFont;
}

.aboutUsText {
    margin-top: 100px;
}

.aboutUsParagraph {
    line-height: 2em;
    font-family: gruberrFont;
}

/*****************************Slider******************************/


/*****************************Video Slider-********************************/
.videoSlider1 {
    margin-top: 10px;
}

#slider, #slider .sliderInner, #slider1, #slider1 .sliderInner, #slider2, #slider2 .sliderInner {
    max-width: 500px;
    width: 500px;
}

#sliderFrame {
    max-width: 500px;
    width: 500px;
}

/*****************************Video Slider***********************************/

/****************************Contact Form****************************/

#contact {
    width:100%;
    height:100%;
    margin: 0 auto;
    text-align: center;
}

.container {
    width: 100%;
    max-width:960px;
    height:auto;
    margin: 0 auto;
    padding: 0;
}

#contact .container form input,
#contact .container form textarea {
    width:97.4%;
    height:50px;
    padding:5px 10px;
    font-size: 12px;
    color:#999;
    letter-spacing:1px;
    background: #f7f7f7;
    border:2px solid #EEE;
    margin-bottom:25px;
    -webkit-transition:all .1s ease-in-out;
    -moz-transition:all .1s ease-in-out;
    -ms-transition:all .1s ease-in-out;
    -o-transition:all .1s ease-in-out;
    transition:all .1s ease-in-out;
}

#contact .container form input:focus,
#contact .container form textarea:focus {
    border:2px solid #CCC;
    color:#999;
}

#contact .container form textarea {
    height:150px;
}

#contact h2 {
    margin-bottom: 5px;
    padding-top: 25px;
    font-size: 2.5em;
    text-transform: uppercase;
    font-family: 'Lato', sans-serif;
    color: #AAA;
}

#contact .container form .submit {
    width:97.4%;
    padding:5px 10px;
    font-size: 12px;
    letter-spacing:1px;
    background:#dd4545;
    height:40px;
    text-transform:uppercase;
    letter-spacing:1px;
    color:#FFF;
    border:2px solid #b43838;
    -webkit-transition:all .1s ease-in-out;
    -moz-transition:all .1s ease-in-out;
    -ms-transition:all .1s ease-in-out;
    -o-transition:all .1s ease-in-out;
    transition:all .1s ease-in-out;
}

#contact .container form .submit:hover {
    color:#FFF;
    border:2px solid #dd4545;
    background: #b43838;
    cursor:pointer;
}

#contact .container form .required {
    color:#b43838;
}

.carousal-video {
    overflow: visible;
    max-height: 350px;
}

.iFrameSize {
    height: 350px;
    width: 550px;
}

.videoSize {
    max-height: 351px;
    height: 350px;
    width: 550px;
    max-width: 600px;
}
/****************************Contact Form****************************/


/*************************TEAM*********************************************/
.card .user {
    margin-top: 15px;
}

.card-container, .front, .back {
    height: 290px;
}

.card .content .main {
    min-height: 0;
}
/***************************TEAM***********************************************/

@media only screen and (max-width:991px) {

    .video2Block {
        margin-top: 30px;
    }

    .aboutUsText {
        margin-top: 0;
    }

    #service {
        padding-top: 60px;
    }

    .backgroundHeading {
        font-size: 50px;
    }

    .reviewTextAlign {
        margin-top: 75px;
    }

    .reviewTextAlignChef {
        margin-top: 5px;
    }

    .reviewTextAlignPeople {
        margin-top: 50px;
    }

    .cusinesCategoryHeading {
        padding-top: 450px;
    }

    .carousel-caption {
        bottom: 40%;
    }
}

@media only screen and (min-width: 991px) {
    .wrapper {
    position: absolute;
    background-color:transparent;
    border:0;
    display: inline-block;
    text-align: center;
    margin-top: 20px;
    top: 45%;

}

    .playStoreButton {
        position: absolute;
        margin-top: 30px;
        top: 70%;
        right: 5%;
        display: inline-block;
    }

    .getAppHeading {
        margin-bottom: 20px;
        color: white;
        text-align: left;
    }
    
    .playStoreButtonMobile {
        display: none;
        position: absolute;
        margin-top: 30px;
        top: 70%;
        right: 5%;
    }
    
}

@media only screen and (max-width: 700px) {

    .aboutUsText {
        margin-top: 0;
    }

    .cakeSize {
        max-width: 500px;
    }

    .reviewHeading {
        font-size: 35px;
    }

    .appHeading {
        font-size: 35px;
    }

    .teamHeading {
        font-size: 35px;
    }

    #slider, #slider .sliderInner, #slider1, #slider1 .sliderInner, #slider2, #slider2 .sliderInner {
        max-width: 500px;
        width: 500px;
        height: 300px;
    }

    #sliderFrame {
        max-width: 500px;
        width: 500px;
        height: 300px;
    }
    
    .playStoreButton {
        position: absolute;
        top: 60%;
        right: 5%;
        display: none;
    }
    
    .playStoreButtonMobile {
        display: inline-block;
        position: absolute;
        margin-top: 30px;
        top: 74%;
        right: 10%;
    }

    .cusinesCategoryHeading {
        padding-top: 1000px;
    }

    .backgroundHeading {
        font-size: 40px;
    }

    .video2Block {
        margin-top: 30px;
    }

    .carousel-caption {
        bottom: 30%;
    }
}

@media only screen and (max-width: 500px) {

    .videoHeading {
        font-size: 30px;
    }

    .aboutUsText {
        margin-top: 0;
    }

    .cakeSize {
        max-width: 250px;
    }


    #slider, #slider .sliderInner, #slider1, #slider1 .sliderInner, #slider2, #slider2 .sliderInner {
        max-width: 280px;
        width: 280px;
        height: 190px;
    }

    #slider .navBulletsWrapper, #slider1 .navBulletsWrapper, #slider2 .navBulletsWrapper {
        top:220px
    }

    #sliderFrame {
        max-width: 280px;
        width: 280px;
        height: 190px;
    }

    .reviewHeading {
        font-size: 24px;
    }

    .appHeading {
        font-size: 24px;
    }

    .teamHeading {
        font-size: 24px;
    }
    
    .playStoreButtonMobile {
    position: absolute;
    top: 60%;
    right: 10%;
    }
    
    .playStoreButton {
        display: none;
    }

    .reviewTextAlign {
        margin-top: 0;
    }

    .reviewTextAlignChef {
        margin-top: 25px;
    }

    .reviewTextAlignPeople {
        margin-top: 50px;
    }

    .count {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .cusinesCategoryHeading {
        padding-top: 700px;
    }

    .backgroundHeading {
        font-size: 30px;
    }

    #utility-2 .block {
        padding-top: 20px;
    }

    #utility .block h2 {
        padding-top: 20px;
    }

    .video2Block {
        margin-top: 50px;
    }

    .carousel-caption {
        bottom: 20%;
    }
}

@media only screen and (max-width: 300px) {

    .cakeSize {
        max-width: 250px;
    }
    
    .playStoreButtonMobile {
    position: absolute;
    top: 50%;
    right: 10%;
    }
    
    .playStoreButton {
        display: none;
    }

    #slider, #slider .sliderInner, #slider1, #slider1 .sliderInner, #slider2, #slider2 .sliderInner {
        max-width: 200px;
        width: 200px;
        height: 150px;
    }

    #sliderFrame {
        max-width: 200px;
        width: 200px;
        height: 150px;
    }

    .reviewHeading {
        font-size: 25px;
    }

    .appHeading {
        font-size: 25px;
    }

    .teamHeading {
        font-size: 25px;
    }

    .aboutUsText {
        margin-top: 0;
    }

    .video2Block {
        margin-top: 30px;
    }

    .carousel-caption {
        bottom: 20%;
    }
}

footer {
    padding-top: 0;
    border-top: none;
    padding: 0;
}

.menu .navbar-default .navbar-nav > li > a {
    font-family: gruberrFont, Times, serif;
    font-size: 15px;
}
