@font-face {
    font-family: gruberrFont;
    src: url(../fonts/Montserrat-Light.otf);

}

body {
    font-family: gruberrFont, Times, serif;
}

#utility-2 {
    background: #f6f6f7;
    padding: 0px 0px 60px 0px;
}

#utility {
    padding: 0px;
}

#feature {
    background: #f6f6f7;
    padding:60px 0;
}


.coverImage {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
    background-color: rgba(0,0,0,.6);
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.cover {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
    position: absolute;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}


header {
    background: none;
    position: absolute;
    -webkit-box-shadow: none;
}

.menu .navbar-default .navbar-nav > li > a {
    color: white;
    font-weight: bold;
    font-size: 18px;
}

.menu .navbar {
    float: right;
    padding-top: 15px;
}

#name {
    padding: 5px;
    color: white;
    font-weight: bold;
    font-family: gruberrFont, Times, serif;
}

#navGradient {
   background: -webkit-linear-gradient(bottom, rgba(0,0,0,0), rgba(0,0,0,1));
}

#service .service-wrapper {
    border: none;
    padding: 50px 0px;
}

.icon {
    text-align: center;
    margin-top: 60px;
}

.cusinesCategoryHeading {
    font-family: gruberrFont, Times, serif;
    text-align: center;
    font-weight: 900;
    color: black;
}

.cusinesCategoryPara {
    font-family: gruberrFont, Times, serif;
    text-align: center;
    padding-bottom: 30px;
    color: #999;
    font-size: 15px;
}

.cuisinesFont {
    font-family: gruberrFont, Times, serif;
    font-size: 17px;
    color: #999;

}

#utility-2 .block img {
    display: inline-block;
    vertical-align: middle;
}

#utility .block img {
    display: inline-block;
    vertical-align: middle;
}

#utility-2 .block {
    text-align: center;
}

#utility .block {
    text-align: center;
}

#utility-2 .block p {
    color: #777;
}

h2.heading {
    margin-bottom: 20px;
    font-size: 27px;
    font-weight: 900;
    color: black;
    font-family: gruberrFont, Times, serif;
}

#utility-2 .block h2  {
    color: black;
}

#utility .block h2 {
    color: black;
}

#feature .feature-item {
    margin-top: 0px;
}

.alignDivMiddle {
    display: inline-block;
    vertical-align: middle; 
    align-self: center;
}

.alignDivMiddleParent:before {
    content: ' ';
    display: inline-block;
    vertical-align: middle;
}

.alignDivMiddleParent {
    text-align: center; 
    justify-content: center;
}

@media only screen and (min-width: 767px) {
    .alignDivMiddleParent  {
        display: flex;
        text-align: center; 
        justify-content: center;
    }
}

#subscribe {
    padding: 0px;
    padding-bottom: 60px;
}

.getApp {
   position:absolute;
   /*right:70%;*/
    text-align: center;
    color: white;
    top:40%;
}

.wrapper {
    position: absolute;
    background-color:transparent;
    text-align: center;
    margin-bottom: 40px;
    margin-top: 30px;

}

.playStoreButton {
    position: absolute;
    top: 80%;
    right: 5%;

}

.playStoreButtonMobile {
    position: absolute;
    margin-top: 30px;
    top: 70%;
    right: 5%;
    display: none;
}

.getAppButton {
    background: #3e50b5;
    color: white;
    padding-left: 18px;
    padding-right: 18px;
}

.getAppText {
    background: #FFF;
    color: #777;
    border: 0;
}

.getAppHeading {
    margin-bottom: 20px;
    color: #777;
    text-align: left;
    margin-left: 5px;
    font-size: 18px;
}

.black {
    background-color: rgba(0,0,0,.1);
}

.gruberr_chef_statistics {
    /*
    background: #ffffff;
    */
    padding-top: 25px;
    padding-bottom: 25px;
    margin-top: 50px;
    margin-bottom: 50px;
    color: black;
    font-family: gruberrFont;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    /*box-shadow: 1px 1px 3px #888888;*/
}

/*******************************Review***************************/

.reviewImageRestaurentChefSize {
    max-width: 100%;
    padding-top: 20px;
}

.reviewImageChefSize {
    max-width: 100%;
    padding-top: 50px;
}

.reviewsPara {
    font-style: italic;
    line-height: 2em;
}

.reviewImagePeopleSize {
    max-width: 100%;
    padding-top: 20px;
}

.reviewTextAlign {
    text-align: center;
    margin-top: 175px;
}

.reviewTextAlignChef {
    text-align: center;
    margin-top: 125px;
}

.reviewTextAlignPeople {
    text-align: center;
    margin-top: 150px;
}

.reviewSection {
    padding-top: 40px;
}

.reviewHeading {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    font-family: gruberrFont, Times, serif;
    font-weight: bold;
}

/*******************************Review***************************/

/******************************Count******************************/

.count {
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: #f7f7f7;
}

.countParent {
    margin-top: 50px;
    margin-bottom: 50px;
    -moz-box-shadow:    inset 0 0 10px #000000;
    -webkit-box-shadow: inset 0 0 10px #000000;
    box-shadow:         inset 0 0 10px #000000;
}

/******************************Count******************************/

/*****************************Slider******************************/

h1 {
    display: inline-block;
    padding: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.full-screen {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.chevron {
    color: white;
}

.backgroundOpaque {
    background-color: black;
    width: 100%;
    height: 100%;
    opacity: 0.7;
}

.carousel-caption {
    bottom: 35%;
}

.backgroundHeading {
    font-family: gruberrFont;
}

.backgroundSubheading {
    font-family: gruberrFont;
}


/*****************************Slider******************************/

/****************************Contact Form****************************/

body {
    background: #efefef;
    font-size: 62.5%;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    color: #B6B6B6;
}
#hire {
    background: white;
    margin: 60px auto 120px;
    border-top: 15px solid #313A3D;
    text-align: center;
    padding: 50px 0 110px;
    width: 80%;
    max-width: 1100px;
}
#hire h1 {
    margin-bottom: 40px;
    font-size: 4em;
    text-transform: uppercase;
    font-family: 'Lato', sans-serif;
    font-weight: 100;
}


form {
    width: 58.33333%;
    margin: 0 auto;
}
form .field {
    width: 100%;
    position: relative;
    margin-bottom: 15px;
}
form .field label {
    text-transform: uppercase;
    position: absolute;
    top: 0;
    left: 0;
    background: #313A3D;
    width: 100%;
    padding: 18px 0;
    font-size: 1.45em;
    letter-spacing: 0.075em;
    -webkit-transition: all 333ms ease-in-out;
    -moz-transition: all 333ms ease-in-out;
    -o-transition: all 333ms ease-in-out;
    -ms-transition: all 333ms ease-in-out;
    transition: all 333ms ease-in-out;
}
form .field label + span {
    font-family: 'SSStandard';
    opacity: 0;
    color: white;
    display: block;
    position: absolute;
    top: 12px;
    left: 7%;
    font-size: 2.5em;
    text-shadow: 1px 2px 0 #cd6302;
    -webkit-transition: all 333ms ease-in-out;
    -moz-transition: all 333ms ease-in-out;
    -o-transition: all 333ms ease-in-out;
    -ms-transition: all 333ms ease-in-out;
    transition: all 333ms ease-in-out;
}
form .field input[type="text"],
form .field textarea {
    border: none;
    background: #E8E9EA;
    width: 80.5%;
    margin: 0;
    padding: 18px 0;
    padding-left: 19.5%;
    color: #313A3D;
    font-size: 1.4em;
    letter-spacing: 0.05em;
    text-transform: uppercase;
}
form .field input[type="text"]#msg,
form .field textarea#msg {
    height: 18px;
    resize: none;
    -webkit-transition: all 333ms ease-in-out;
    -moz-transition: all 333ms ease-in-out;
    -o-transition: all 333ms ease-in-out;
    -ms-transition: all 333ms ease-in-out;
    transition: all 333ms ease-in-out;
}
form .field input[type="text"]:focus, form .field input[type="text"].focused,
form .field textarea:focus,
form .field textarea.focused {
    outline: none;
}
form .field input[type="text"]:focus#msg, form .field input[type="text"].focused#msg,
form .field textarea:focus#msg,
form .field textarea.focused#msg {
    padding-bottom: 150px;
}
form .field input[type="text"]:focus + label, form .field input[type="text"].focused + label,
form .field textarea:focus + label,
form .field textarea.focused + label {
    width: 18%;
    background: #FD9638;
    color: #313A3D;
}
form .field input[type="text"].focused + label,
form .field textarea.focused + label {
    color: #FD9638;
}
form .field:hover label {
    width: 18%;
    background: #313A3D;
    color: white;
}
form input[type="submit"] {
    background: #FD9638;
    color: white;
    -webkit-appearance: none;
    border: none;
    text-transform: uppercase;
    position: relative;
    padding: 13px 50px;
    font-size: 1.4em;
    letter-spacing: 0.1em;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    -webkit-transition: all 333ms ease-in-out;
    -moz-transition: all 333ms ease-in-out;
    -o-transition: all 333ms ease-in-out;
    -ms-transition: all 333ms ease-in-out;
    transition: all 333ms ease-in-out;
}
form input[type="submit"]:hover {
    background: #313A3D;
    color: #FD9638;
}
form input[type="submit"]:focus {
    outline: none;
    background: #cd6302;
}

/****************************Contact Form****************************/

@media only screen and (max-width:991px) {
    #service {
        padding-top: 60px;
    }
}

@media only screen and (min-width: 991px) {
    .wrapper {
    position: absolute;
    background-color:transparent;
    border:0;
    display: inline-block;
    text-align: center;
    margin-top: 20px;
    top: 45%;

}

    .playStoreButton {
        position: absolute;
        margin-top: 30px;
        top: 70%;
        right: 5%;
        display: inline-block;
    }

    .getAppHeading {
        margin-bottom: 20px;
        color: white;
        text-align: left;
    }
    
    .playStoreButtonMobile {
        display: none;
        position: absolute;
        margin-top: 30px;
        top: 70%;
        right: 5%;
    }
    
}

@media only screen and (max-width: 700px) { 
    
    .playStoreButton {
        position: absolute;
        top: 60%;
        right: 5%;
        display: none;
    }
    
    .playStoreButtonMobile {
        display: inline-block;
        position: absolute;
        margin-top: 30px;
        top: 74%;
        right: 10%;
    }
}

@media only screen and (max-width: 500px) { 
    
    .playStoreButtonMobile {
    position: absolute;
    top: 60%;
    right: 10%;
    }
    
    .playStoreButton {
        display: none;
    }
}

@media only screen and (max-width: 300px) { 
    
    .playStoreButtonMobile {
    position: absolute;
    top: 50%;
    right: 10%;
    }
    
    .playStoreButton {
        display: none;
    }
}

footer {
    padding-top: 20px;
}

.menu .navbar-default .navbar-nav > li > a {
    font-family: gruberrFont, Times, serif;
    font-size: 15px;
}
